body {
  background-image: url(https://i.ytimg.com/vi/CQZRUt7aOr0/maxresdefault.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.mainbox {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  margin-left: 25px;
}
.dicecontainer {
  display: flex;
  justify-content: center;
}

.die {
  list-style: none;
  border: solid black;
  width: 40px;
  height: 40px;
  margin: 20px;
  text-align: center;
  background-image: linear-gradient(rgb(144, 230, 137) 40%, rgb(140, 26, 255));
}
